<div class="container">
  <h1>Customers</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zip code</th>
        <th scope="col">Created on</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers; let i = index">
        <th scope="row">{{customer.id}}</th>
        <td>{{customer.name}}</td>
        <td>{{customer.street}}</td>
        <td>{{customer.city}}</td>
        <td>{{customer.state}}</td>
        <td>{{customer.zipCode}}</td>
        <td>{{customer.createdDate.getMonth()}}/{{customer.createdDate.getMonth()}}/{{customer.createdDate.getUTCFullYear()}}</td>
        <td><a [routerLink]="['../edit-customer/' + customer.id]"><button type="button" class="btn btn-secondary">Edit</button></a></td>
      </tr>
    </tbody>
  </table>
</div>
