<div *ngIf="form" class="container">
  <div>
    <h1>Customer #{{form.get('id').value}}</h1>
  </div>
  <div>
    <form [formGroup]="form" (submit)="onSubmit()">
      <fieldset>
        <div class="form-group">
          <label>Name
            <span class="redText">*</span>
          </label>
          <input formControlName="name" type="text" class="form-control" required>
          <div *ngIf="!form.controls['name'].valid && form.controls['name'].touched">Name is required.</div>
          <br>
          <table style="width: 100%">
            <tr class="tr">
              <td colspan="3">
                <label>Street
                  <span class="redText">*</span>
                </label>
                <input formControlName="street" type="text" class="form-control" required>
                <div *ngIf="!form.controls['street'].valid && form.controls['street'].touched">Street is required.</div>
              </td>
            </tr>
            <tr class="tr">
              <td>
                <label>City
                  <span class="redText">*</span>
                </label>
                <input formControlName="city" type="text" class="form-control" required>
                <div *ngIf="!form.controls['city'].valid && form.controls['city'].touched">City is required.</div>
              </td>
              <td>
                <label>State
                  <span class="redText">*</span>
                </label>
                <input formControlName="state" type="text" class="form-control" required>
                <div *ngIf="!form.controls['state'].valid && form.controls['state'].touched">State is required.</div>
              </td>
              <td>
                <label>Zip code
                  <span class="redText">*</span>
                </label>
                <input formControlName="zipCode" type="number" class="form-control" required>
                <div *ngIf="!form.controls['zipCode'].valid && form.controls['zipCode'].touched">Zip code is required.</div>
              </td>
            </tr>
          </table>
        </div>
        <button type="button" class="btn btn-secondary" (click)="onSubmit()">
          Save
        </button>
      </fieldset>
    </form>
  </div>
</div>
